.allPropertyImageDiv {
    margin: 30px;
}

.propertyCard {
    margin-bottom: 100px;
}

.applicationsBadge {
    background-color: rgb(108, 158, 37);
    font-style: italic;
    color: rgb(248, 255, 236);
    min-width: 3rem;
    padding: 0 6px;
    height: 22px;
    max-width: 170px;
}

.propertyInfoArea {
    margin-right: 50px;
    color: black;
    margin-top: 15px;
}

.mediaBox {
    display: inline-block;
}

.vacantChip {
    margin: 20px;
}

#imagesColumn {
    border-left: black .5px solid;
}

#propertyCardHeader {
    color: black;
    background-color: rgb(234, 234, 234);
}

#propertyCardBody {
    background-color: rgb(234, 234, 234);
}
